.title {
    margin: 0px;
}

.center {
    text-align: center;
}

.text p {
    margin: 0px;
    font-size: 20px;
}

.text h1 {
    margin: 0px;
}

.text h2 {
    margin: 0px;
}

.text .slim_line {
    size: 1px;
    color: black;
    margin-top: 30px;
}

.medium_line {
    margin-top: 30px;
}

.text .small_margin {
    margin-bottom:6px;
}

.footer div {
    display: inline-block;
    float:left;
    margin-bottom: 20px;
}

.page_1 {
    margin-right: 19%;
    margin-top: 0;
    font-size: 15px;
}

.page_2 {
    margin-right: 29%;
    margin-top: 0;
    font-size: 15px;
}

.bottom_line {
    margin:0;
    size: 10px;
    color: black;
}